@import url("https://use.typekit.net/auc5idv.css");

.App {
  text-align: center;
  background-color: #f5f7fc;
  min-height: 100vh;
  display: block;
  color: #000;
  font-family:proxima-nova, sans-serif;

  h1 {
    display: flex;
    font-size:2rem;
    margin:0;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.deksia-logo {
  display:flex;
}